/**********************************************
*** GENERAL
**********************************************/

#ALL-SEARCH-DETAILS {
    position: relative;
    width: 90%;
    border: 1px solid #e7e7e7;
    padding: 10px;
    margin: 20px;
}

table.description_table {
    width:100%;
    text-align: center;
    font-size: 18px;
    table-layout: fixed;
}

table.data_table {
    width:100%;
    text-align: center;
    font-size: 16px;
}

table.data_table tr:nth-child(even) {
    background-color: #e7e7e7;
}
table.data_table tr:nth-child(odd) {
   background-color:#ffffff;
}


.coin-search-input {
    position: relative;
    color: #555;
    font-size: 18px;
    font-family: "Lato";
    text-align: : center;
    padding: 10px;
    width: 20%;
    height: 44px;
    text-transform: uppercase;
    font-weight: 300;
    transition: border 0.3s;
/*    margin-right: 10px;*/
    border: 1px solid #e7e7e7;
    color: inherit;
    font-size: 18px;
    margin: 20px;
}

.coin-search-input:focus { outline: : none;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

button {
    position: relative;
    width: 30%;
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
    margin: 20px;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #2b58a0;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.coinlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 120px;
    height: auto;
    padding: 20px;
}

.cur__input {
    position: relative;
    color: #555;
    font-size: 18px;
    font-family: "Lato";
    text-align: : center;
    padding: 10px;
    width: 10%;
    height: 44px;
    text-transform: uppercase;
    font-weight: 300;
    transition: border 0.3s;
/*    margin-right: 10px;*/
    border: 1px solid #e7e7e7;
    color: inherit;
    font-size: 18px;
    margin: 20px;
}

.exchange__input {
    position: relative;
    color: #555;
    font-size: 18px;
    font-family: "Lato";
    text-align: : center;
    padding: 10px;
    width: 20%;
    height: 44px;
    text-transform: uppercase;
    font-weight: 300;
    transition: border 0.3s;
/*    margin-right: 10px;*/
    border: 1px solid #e7e7e7;
    color: inherit;
    font-size: 18px;
    margin: 20px;
}

footer { 
    position: fixed;
    font-size: 11px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(105,105,105,0.3);
/*    background: rgba(255,255,255,0.1);*/
/*    opacity: 1;*/
}

a {
    color: orange;
    text-decoration: none;
}


/* Source: https://www.w3schools.com/howto/howto_js_snackbar.asp */

/* The snackbar - position it at the bottom and in the middle of the screen */
#search-snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#search-snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
